@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eff1f4;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #333333;
  line-height: 1.5;
}

.ticket-header {
  background-color: #0c73fe;
  width: 100%;
  height: 50px;
}

.main-ticket {
  position: relative;
  margin-top: 70px;
  margin-left: 20px;
}

.ticket-desktop {
  cursor: pointer;
  box-shadow: 0 0 0 transparent;
  background: #ffffff;
  width: 100%;
  max-width: 729px;
  min-height: 251px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

.ticket-desktop__side-content {
  width: 30%;
  text-align: center;
  padding: 15px 12px;
}

.ticket-desktop__price {
  font-size: 20px;
  font-weight: bold;
}

.buy-button {
  background-color: #ff6f32;
  border-style: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px;
}

.buy-button:hover {
  opacity: 0.9;
}

.ticket-desktop__content {
  width: 70%;
}

.ticket-desktop__header {
  display: flex;
  justify-content: space-between;
  padding: 20px 17px 20px 20px;
}

.ticket-desktop__companies img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.ticket-desktop__icons-wrapper {
  display: flex;
}

.ticket-desktop__icons-wrapper i {
  font-size: 20px;
  color: #8f9cad;
  padding: 0px 5px;
}

.ticket-desktop__icons-wrapper i:hover {
  color: #0c73fe;
}

.fa-bell {
  position: relative;
  display: inline-block;
  padding: 15px;
  text-align: center;
  font-size: 16px;
}

.fa-bell .gfg_text {
  visibility: hidden;
  font-size: 14px;
  width: 300px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 115%;
  left: 50%;
  margin-left: -150px;
  padding: 15px;
  transition: all 0.2s ease-in-out;
  animation: ani 2.5s forwards;
}

@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fa-bell .gfg_text::before,
.fa-bell .gfg_text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.fa-bell:hover .gfg_text {
  visibility: visible;
  bottom: 30px;
}

.ticket-desktop__body {
  padding: 5px 20px 20px;
}
.ticket-desktop__segments-wrap {
  display: flex;
  justify-content: space-between;
}

.segment-time {
  font-size: 26px;
}

.segment-body {
  font-size: 14px;
  font-weight: 500;
  color: #c8c8c8;
}

.plane-departure {
  display: flex;
  flex-direction: row;
}

.ticket-desktop__outer-badge {
  height: 20px;
  padding: 0px 6px;
  color: #ffffff;
  background-color: #35c768;

  position: absolute;
  top: -10px;
  left: 12px;
  max-width: 350px;
  border-radius: 10px;
}
