.main-list {
  overflow: auto;
}

.list {
  width: 1250px;
  max-height: 65vh;
  margin-left: auto;
  margin-right: auto;
  border-radius: var(--border-radius);
  margin-top: 20px;
  background-color: var(--background-secondary);
  color: var(--black-color);
  text-align: center;
  font-size: 14px;
  box-shadow: var(--box-shadow);
  overflow: auto;
}

.list::-webkit-scrollbar {
  background-color: var(--background-secondary);
  width: 16px;
}

.list::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 5px solid var(--background-secondary);
}
.list::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
  border: 4px solid #f4f4f4;
}

.list::-webkit-scrollbar-button {
  display: none;
}

.list-header {
  display: flex;
  width: 1180px;
  font-weight: bold;
  padding: 10px 0px 0px 0px;
  cursor: default;
  margin: 0px 20px;
}

.list-header span {
  padding: 0px 20px;
}

.list-header span:first-child {
  padding: 0;
}

.task-group {
  width: 120px;
}

.task-name {
  width: 130px;
}

.task-executor {
  width: 105px;
}

.task-date {
  width: 130px;
}

.task-text {
  width: 290px;
}

.task-comments {
  width: 140px;
}

.task-status {
  width: 120px;
}

.task-priority {
  width: 110px;
}

.task-privacy {
  width: 115px;
}

.list-task {
  width: 1200px;
  border-radius: var(--border-radius);
  margin: 15px 10px;
  padding: 10px;
  background-color: var(--background-color);
  color: var(--black-color);
  text-align: left;
  box-shadow: var(--box-shadow);
}

.list-task-wrapper {
  display: flex;
  justify-content: space-between;
}

.list-todo-wrapper {
  width: 120px;
}

.tasks {
  width: 90%;
}

.list-task-unwrap {
  display: flex;
}

.task-example {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.task-example div {
  padding: 10px 20px;
}

.task-example__name {
  width: 130px;
}

.task-example__executor {
  width: 105px;
}

.task-example__date {
  width: 130px;
}

.task-example__text {
  width: 290px;
}

.task-example__comments {
  width: 140px;
}

.task-example__status {
  width: 120px;
}

.task-example__priority {
  width: 110px;
}

.task-example__privacy {
  width: 115px;
}

.task-icons i {
  padding: 5px;
}

.task-icons i:hover {
  cursor: pointer;
  color: var(--background-buttons);
}

.list-todo {
  background-color: var(--red-color);
  color: var(--white-color);
  width: fit-content;
  height: fit-content;
  padding: 0px 8px;
  border-radius: var(--border-radius);
  white-space: nowrap;
}

.inprogress-list {
  background-color: var(--purple-color);
  color: var(--white-color);
  width: fit-content;
  padding: 0px 8px;
  border-radius: var(--border-radius);
}

.completed-list {
  background-color: var(--green-color);
  color: var(--white-color);
  width: fit-content;
  padding: 0px 8px;
  border-radius: var(--border-radius);
}

.task-icons {
  display: flex;
  justify-content: flex-end;
}

.wrap-list {
  display: flex;
  justify-content: center;
}

.wrap-list__button {
  margin-top: 15px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  margin: 0 auto;
}

.wrap-list__button i {
  padding-left: 5px;
}

.unwrap-list {
  margin: 0px 0px 0px 480px;
}

.unwrap-list__button {
  margin: auto;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.unwrap-list__button i {
  padding-left: 5px;
}
