.edit-user {
  max-width: 670px;
  height: 320px;
  border-radius: 10px;
  margin: auto;
  margin-top: 200px;
  padding: 10px;
  background-color: var(--white-color);
  box-shadow: var(--box-shadow);
  font-size: 14px;
  overflow: auto;
}

.user-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
}

.user-photo-button {
  background-color: var(--background-color);
  color: #333333;
  border-radius: 10px;
  font-size: 16px;
  width: 105px;
  height: 32px;
  cursor: pointer;
  border-style: none;
  margin-top: 10px;
  box-shadow: var(--box-shadow);
}

.edit-user-wrapper {
  display: flex;
  flex-direction: row;
}

.user-photo-wrapper {
  width: 30%;
  text-align: left;
  padding: 5px 12px;
  margin-top: 13px;
}

.edit-input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.edit-input-wrapper input {
  max-width: 370px;
  height: 34px;
  font-size: 14px;
  padding-left: 21px;
  background-color: var(--background-color);
  border-style: none;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  margin-top: 18px;
  margin-bottom: 7px;
}

.password-hide {
  background: url("../eye-hide.png") no-repeat right;
  background-position: 340px 7px;

  background-size: 20px;
}

.edit-user-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  text-align: left;
  padding: 0px 12px;
  font-size: 13px;
}

.edit-user-button {
  background-color: var(--background-buttons);
  color: var(--white-color);
  border-radius: 10px;
  font-size: 16px;
  width: 105px;
  height: 32px;
  cursor: pointer;
  border-style: none;
  margin-left: 37px;
  box-shadow: var(--box-shadow);
}
.edit-user-button:first-child {
  background-color: #6f7680;
}
