.edit-user {
  max-width: 670px;
  height: fit-content;
  border-radius: var(--border-radius);
  margin: auto;
  margin-top: 200px;
  padding: 10px;
  background-color: var(--background-secondary);
  box-shadow: var(--box-shadow);
  font-size: 14px;
  overflow: auto;
}

.edit-user__header {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
  color: var(--black-color);
}

.edit-user__info {
  font-size: 20px;
}

.edit__user-edit {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 16px;
  line-height: 1.42rem;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  cursor: pointer;
}

.edit-user__icons i:hover {
  color: var(--background-buttons);
  cursor: pointer;
}

.user-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
}

#user-photo__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
}

.user-photo-button {
  background-color: var(--background-color);
  color: var(--black-color);
  border-radius: var(--border-radius);
  font-size: 16px;
  width: 105px;
  height: 32px;
  cursor: pointer;
  border-style: none;
  margin-top: 10px;
  box-shadow: var(--box-shadow);
}

.edit-user-wrapper {
  display: flex;
  flex-direction: row;
}

.user-photo-wrapper {
  text-align: left;
  padding: 5px 12px;
  margin-top: 13px;
}

.edit-input-wrapper {
  margin-left: 50px;
  width: 100%;
  max-width: 360px;
}

.edit-input__user-name {
  font-size: 16px;
  padding-bottom: 10px;
}

.edit-input-wrapper div {
  width: 100%;
  max-width: 360px;
  position: relative;
  margin-top: 18px;
  margin-bottom: 7px;
}

.edit-input-wrapper input {
  width: 100%;
  max-width: 360px;
  height: 34px;
  font-size: 14px;
  border-radius: var(--border-radius);
  padding: 0px 21px;
  color: var(--black-color);
  border-style: none;
  border: 1px solid var(--black-color);
}

.edit-input-wrapper__error {
  position: absolute;
  display: block;
  top: 33px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  font-size: 13px;
  color: var(--red-color);
}

.edit-user-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  text-align: left;
  padding: 0px 12px;
  font-size: 13px;
}

.edit-user-button {
  background-color: var(--background-buttons);
  color: var(--white-color);
  border-radius: var(--border-radius);
  font-size: 16px;
  width: 105px;
  height: 32px;
  cursor: pointer;
  border-style: none;
  margin-left: 37px;
  box-shadow: var(--box-shadow);
}
.edit-user-button:first-child {
  background-color: #6f7680;
}
